<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  
  <servlet>
    <servlet-name>HomeControlleur</servlet-name>
    <servlet-class>controlleur.HomeControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeControlleur</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayementContorlleur</servlet-name>
    <servlet-class>controlleur.PayementContorlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayementContorlleur</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrudControlleur</servlet-name>
    <servlet-class>controlleur.CrudControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudControlleur</servlet-name>
    <url-pattern>/crud</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginAdminControlleur</servlet-name>
    <servlet-class>controlleur.LoginAdminControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminControlleur</servlet-name>
    <url-pattern>/loginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BackofficeControlleur</servlet-name>
    <servlet-class>controlleur.BackofficeControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackofficeControlleur</servlet-name>
    <url-pattern>/backOffice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginControlleurs</servlet-name>
    <servlet-class>controlleur.LoginControlleurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControlleurs</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PanierControlleur</servlet-name>
    <servlet-class>controlleur.PanierControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierControlleur</servlet-name>
    <url-pattern>/panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DecoControlleur</servlet-name>
    <servlet-class>controlleur.DecoControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DecoControlleur</servlet-name>
    <url-pattern>/deco</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProduitControlleur</servlet-name>
    <servlet-class>controlleur.ProduitControlleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduitControlleur</servlet-name>
    <url-pattern>/produit</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>